{% extends 'base.html' %}

{% load static %}
{% block content %}
<section class="about-section center-row">
    <div class="about-image-container center-row">
        <img src="{% static './img/Project Photo.png' %}" alt="goat">

    </div>
    
    <div class="about-description-container center-column">
        <h1>My role as Dev</h1>
        <h2>Kendall Payne</h2>

        <p>I got my feet wet in the world of programming through my courses for becomming an electronics technician. It was through a program that allowed us to do arithmetic calculations as well as use boolean logic. I was further introduced by having to program robot movements through arduino. Fast foward to today where I was forced to retire from my profession due to a spinal cord injury. Seeking a new profession, one which I would be capable of, I decided to dwell back into the world of programming.</p>

    </div>
    
</section>
<section class="skills-section center-column">
    <h2>My Skills</h2>

    <div class="skills-list">
        <label class="text-label">Problem Solving</label>
        <label class="text-label">Attention to Detail</label>
        <label class="text-label">Html</label>
        <label class="text-label">CSS</label>
        <label class="text-label">Django</label>
        <label class="text-label">React</label>
        <label class="text-label">Javascript</label>
        <label class="text-label">Python</label>

    </div>

</section>


{% endblock content %}