{% extends 'base.html' %}

{% load static %}

{% block content %}
<section class="contact-section center-column">

    <h1>Contact me</h1>
    <h2>Use the form below to say Hi!</h2>

    <form method="post" class="center-column">
        {% csrf_token %}

        <div class="field">
            <label>Name</label>
            {{ form.name }}
        </div>

        <div class="field">
            <label>Email</label>
            {{ form.email }}
        </div>

        <div class="field">
            <label>Message</label>
            {{ form.message }}
        </div>

        <div class="field">
            <button class="button-42">Send Message</button>
        </div>
    </form>

</section>
{% endblock %}