{% extends 'base.html' %}
{% load static %}
{% block content %}

<section>
    {% if user.is_authenticated %}
    <div class="add-project-container">

        <a class="btn" href="{% url 'project_new' %}">Add New Project</a>
    </div>
    {% endif %}
    
    <h1 class="center-row">Welcome to my Projects Page!</h1>

    <h2 class="projects-h2">Projects</h2>
    <div class="projects-list">

        {% for project in projects %}
        
        <div class="project-card">
            <a href="{{project.repository}}" target="_blank">
                <img src="{{project.image.url}}" alt="proj1">
                <p>{{project.name}}</p>
                <p>{{project.description}}</p>
                <p>{{project.year}}</p>
                
                <div class="skills-container center-row">
                    {% for skill in project.skill.all %}
                    <label class="text-label">{{skill.name}}</label>
                    {% endfor %}
                </div>
            </a>
        </div>

        {% endfor %}
    </div>


</section>


{% endblock content %}
