{% extends 'base.html' %}

{% load static %}

{% block content %}

<section class="new-project-section center-column">
    <h2>New Project</h2>

    <form id="projectForm" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.name }}
        {{ form.description }}
        {{ form.year }}
        {{ form.image }}
        {{ form.repository }}
        {{ form.skill }}

        <div class="controls">
            <button type="reset">Reset</button>
            <button type="submit">Save Project</button>

        </div>
    </form>
</section>

{% endblock content %}