/* About Me Section */
.about-section{
    padding: 2%;
}
.about-image-container{
    width: 40%;
}

.about-image-container img {
    width: 60%;
    border-radius: 100% ;
}

.about-description-container{
    width: 60%;
}

.about-description-container p{
    margin: 2rem 0px;
    width: 90%;
}

/* Skills Section */

.skills-section {
    padding: 2%;
}

.skills-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    width: 50%;
    margin: 2rem 0px;
}

/* Project Section */

.projects-section{
    padding: 2rem;
    margin: 5rem 0px;
}

.project-card img{
    width: 100%;
    border-radius: 1%;
}

.project-card{
    width: 25rem;
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
    border-radius: 1%;
}

.project-card:hover{
    opacity: 0.5;
    border: 1px solid var(--secondary-color);
}

.skills-container{
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 0.5 rem;
    margin-top: 0.5rem;
}

a p:nth-child(2), .experience-card p:nth-child(1){
    font-weight: bolder;
    font-size: 1.1rem;
    margin: 0.5rem 0px;
}

a p:nth-child(3), .experience-card p:nth-child(2){
    font-style: italic;
}

a p:nth-child(4), .experience-card p:nth-child(4){
    font-style: italic;
    font-weight: bolder;
    letter-spacing: 0.2rem;
    margin-top: 0.5rem;
}

.projects-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 4rem;
    margin-top: 2rem;
}

.projects-h2{
    text-align: center;
}